@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .grid-3 {
    gap: 1rem;
  }

  .skills-right ul li {
    font-size: 0.9rem;
  }

  .logo img {
    height: 1vh;
  }
}

@media screen and (max-width: 825px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .toggle-hamburger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-hamburger .line-2 {
    opacity: 0;
  }

  .toggel-hamburger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* navigation */
  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primary);
    border-left: 1px solid var(--abu);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(0);
  }

  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }

  .pre-title {
    font-size: 1rem;
  }

  /* hero section */
  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .hero-right {
    width: 95%;
  }

  .hero-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .hero-left .pre-title {
    margin: 0 auto;
  }

  .hero-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  /* skills section */
  .skills-grid {
    gap: 1rem;
  }

  /* footer section */
  footer {
    padding: 2rem 0;
  }

  .logo img {
    height: 9vh;
  }
}

@media screen and (max-width: 640px) {
  /* title */
  .section-title {
    font-size: 1.3rem;
  }

  .pre-title {
    font-size: 0.7rem;
  }

  .logo img {
    height: 6.5vh;
  }
}
