:root {
  --primary: #78b9b5;
  --abu: #7d8d86;
  --dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-srollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primary);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--abu);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* bottom */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* title */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  color: var(--abu);
  padding-left: 40px;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--dark);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* logo dan navigasi menu */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo img {
  color: var(--dark);
  height: 80px;
  width: auto;
  display: bolck;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--dark);
}

/* hamburger */
.hamburger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.03s;
  z-index: 99;
}

.hamburger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* hero section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-right img {
  width: 90%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* services section  */
#services {
  background-color: rgb(233, 233, 233);
  padding: 4rem 0;
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.services {
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 1rem;
}

.services h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.services-icon {
  background: var(--primary);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

/* porfolio section */
#portfolio {
  padding: 4rem 0;
}

.portfolio {
  border-radius: 0.7rem;
  overflow: hidden;
  border: 1px solid var(---abu);
}

.portfolio-cover {
  height: 250px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--abu);
  padding: 0.4rem 1rem;
  color: var(--abu);
}

/* skills & Education */

#skills {
  padding: 6rem 0;
  background: rgb(233, 233, 233);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background-color: var(--abu);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-year {
  margin-bottom: 3rem;
}

/* titik di teks skills */

.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--abu);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right UL {
  line-height: 2rem;
  padding: 0 1rem;
}

/* footer section */
footer {
  padding: 4rem 0;
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #5f5f5f;
}

.footer-icons a:hover svg {
  fill: var(--primary);
}
